<footer class="page-footer blue-grey lighten-5 black-text">
  <div class="container">
    <article class="row">

      <section class="col s6">
        <h5 class="black-text">Links</h5>
        <ul>
          <li><a class="grey-text text-darken-3" href="#!">Github</a></li>
          <li><a class="grey-text text-darken-3" href="#!">Linkedin</a></li>
          <li><a class="grey-text text-darken-3" href="#!">Resume</a></li>
        </ul>
      </section>

      <section class="col s6">
        <p class="grey-text text-darken-4">You probably haven't heard of them single-origin coffee distillery actually, skateboard 90's vinyl disrupt knausgaard
          pug wayfarers PBR&B gochujang squid kinfolk.</p>
      </section>

    </article>
  </div>
  <div class="footer-copyright">
    <div class="container grey-text text-darken-4 ">
      © 2017 Copyright Sam Meech-Ward
    </div>
  </div>
</footer>